@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/count" method="post">
  <label>enter your sentence</label>
  <input type="text" name="cents">
  <label>enter your word</label>
  <input type="text" name="cents">

  <button type="submit">Calc!</button>
</form>
