@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/result" method="post">
  <label for='input-one'>enter your sentence</label>
  <input type="text" name="input-one" id="input-one">
  <label for='input-two'>enter your word</label>
  <input type="text" name="input-two" id="input-two">
  <button type="submit">Calc!</button>
</form>
