@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <p>The sentence you put in <span>@Model.GetOne()</span> has the word <span>@Model.GetTwo()</span>, <span>@Model.HowManyContains()</span> time(s)</p>
</div>
