@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
    <p>sentence, word: @Model.GetBoth()</p>
    <p>sentence contains word: @Model.DoContains()</p>
    <p>count of word in sentance: @Model.HowManyContains()</p>
</div>
